In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn import model_selection
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score


from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

# from sklearn import preprocessing
from yellowbrick.classifier import ConfusionMatrix

In [67]:
df = pd.read_csv("letter-recognition.data", sep = ",")

In [68]:
df.head(10)

   T   2   8   3  5  1  8.1  13  0  6  6.1  10  8.2  0.1  8.3  0.2  8.4
0  I   5  12   3  7  2   10   5  5  4   13   3    9    2    8    4   10
1  D   4  11   6  8  6   10   6  2  6   10   3    7    3    7    3    9
2  N   7  11   6  6  3    5   9  4  6    4   4   10    6   10    2    8
3  G   2   1   3  1  1    8   6  6  6    6   5    9    1    7    5   10
4  S   4  11   5  8  3    8   8  6  9    5   6    6    0    8    9    7
5  B   4   2   5  4  4    8   7  6  6    7   6    6    2    8    7   10
6  A   1   1   3  2  1    8   2  2  2    8   2    8    1    6    2    7
7  J   2   2   4  4  2   10   6  2  6   12   4    8    1    6    1    7
8  M  11  15  13  9  7   13   2  6  2   12   1    9    8    1    1    8
9  X   3   9   5  7  4    8   7  3  8    5   6    8    2    8    6    7

In [69]:
names = ['letter_Class',
         'x-box',
         'y-box',
         'width',
         'high',
         'onpix',
         'x-bar',
         'y-bar',
         'x2bar',
         'y2bar',
         'xybar',
         'x2ybr',
         'xy2br',
         'x-ege',
         'xegvy',
         'y-ege',
         'yegvx']

In [70]:
df.columns = names

In [71]:
df.head(10)

,letter_Class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
1,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
2,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
3,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
4,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
5,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
6,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
7,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
8,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8
9,X,3,9,5,7,4,8,7,3,8,5,6,8,2,8,6,7

In [72]:
# X = df.iloc[:, 1 : 17]
# Y = df.select_dtypes(include = [object])
X = df.iloc[:, 1:].values
y = df.iloc[:, 0].values

In [73]:
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [74]:
onehot_encoder = OneHotEncoder(categories='auto')
y = onehot_encoder.fit_transform(y.reshape(-1, 1)).toarray()

In [75]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
model = Sequential()
model.add(Dense(64, input_shape=(16,), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(26, activation='softmax'))

In [78]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [79]:
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/50
500/500 [==============================] - 4s 5ms/step - loss: 2.2113 - accuracy: 0.3628 - val_loss: 1.2669 - val_accuracy: 0.6603
Epoch 2/50
500/500 [==============================] - 2s 4ms/step - loss: 1.3535 - accuracy: 0.5763 - val_loss: 0.9900 - val_accuracy: 0.7200
Epoch 3/50
500/500 [==============================] - 3s 6ms/step - loss: 1.1578 - accuracy: 0.6348 - val_loss: 0.8683 - val_accuracy: 0.7500
Epoch 4/50
500/500 [==============================] - 3s 7ms/step - loss: 1.0596 - accuracy: 0.6650 - val_loss: 0.7967 - val_accuracy: 0.7772
Epoch 5/50
500/500 [==============================] - 4s 7ms/step - loss: 0.9859 - accuracy: 0.6875 - val_loss: 0.7392 - val_accuracy: 0.7857
Epoch 6/50
500/500 [==============================] - 5s 9ms/step - loss: 0.9301 - accuracy: 0.7068 - val_loss: 0.6918 - val_accuracy: 0.7993
Epoch 7/50
500/500 [==============================] - 3s 6ms/step - loss: 0.8868 - accuracy: 0.7198 - val_loss: 0.6538 - val_accuracy: 0.8073
Epoch 8/50
500/500 [==============================] - 3s 6ms/step - loss: 0.8580 - accuracy: 0.7235 - val_loss: 0.6238 - val_accuracy: 0.8090
Epoch 9/50
500/500 [==============================] - 3s 5ms/step - loss: 0.8333 - accuracy: 0.7336 - val_loss: 0.6008 - val_accuracy: 0.8215
Epoch 10/50
500/500 [==============================] - 3s 5ms/step - loss: 0.8012 - accuracy: 0.7482 - val_loss: 0.5689 - val_accuracy: 0.8303
Epoch 11/50
500/500 [==============================] - 2s 4ms/step - loss: 0.7904 - accuracy: 0.7484 - val_loss: 0.5567 - val_accuracy: 0.8322
Epoch 12/50
500/500 [==============================] - 2s 4ms/step - loss: 0.7659 - accuracy: 0.7572 - val_loss: 0.5387 - val_accuracy: 0.8430
Epoch 13/50
500/500 [==============================] - 2s 4ms/step - loss: 0.7394 - accuracy: 0.7619 - val_loss: 0.5220 - val_accuracy: 0.8443
Epoch 14/50
500/500 [==============================] - 2s 4ms/step - loss: 0.7299 - accuracy: 0.7652 - val_loss: 0.5057 - val_accuracy: 0.8515
Epoch 15/50
500/500 [==============================] - 2s 5ms/step - loss: 0.7166 - accuracy: 0.7694 - val_loss: 0.4888 - val_accuracy: 0.8550
Epoch 16/50
500/500 [==============================] - 2s 4ms/step - loss: 0.7077 - accuracy: 0.7698 - val_loss: 0.4769 - val_accuracy: 0.8612
Epoch 17/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6867 - accuracy: 0.7782 - val_loss: 0.4749 - val_accuracy: 0.8593
Epoch 18/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6788 - accuracy: 0.7789 - val_loss: 0.4586 - val_accuracy: 0.8633
Epoch 19/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6708 - accuracy: 0.7823 - val_loss: 0.4506 - val_accuracy: 0.8658
Epoch 20/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6610 - accuracy: 0.7873 - val_loss: 0.4469 - val_accuracy: 0.8717
Epoch 21/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6537 - accuracy: 0.7893 - val_loss: 0.4325 - val_accuracy: 0.8702
Epoch 22/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6454 - accuracy: 0.7894 - val_loss: 0.4302 - val_accuracy: 0.8730
Epoch 23/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6312 - accuracy: 0.7954 - val_loss: 0.4297 - val_accuracy: 0.8652
Epoch 24/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6322 - accuracy: 0.7959 - val_loss: 0.4159 - val_accuracy: 0.8755
Epoch 25/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6202 - accuracy: 0.7998 - val_loss: 0.4055 - val_accuracy: 0.8792
Epoch 26/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6301 - accuracy: 0.7947 - val_loss: 0.4088 - val_accuracy: 0.8755
Epoch 27/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6152 - accuracy: 0.8038 - val_loss: 0.4009 - val_accuracy: 0.8780
Epoch 28/50
500/500 [==============================] - 2s 5ms/step - loss: 0.6132 - accuracy: 0.7998 - val_loss: 0.3965 - val_accuracy: 0.8817
Epoch 29/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6006 - accuracy: 0.8068 - val_loss: 0.3931 - val_accuracy: 0.8810
Epoch 30/50
500/500 [==============================] - 2s 3ms/step - loss: 0.6113 - accuracy: 0.8024 - val_loss: 0.3948 - val_accuracy: 0.8813
Epoch 31/50
500/500 [==============================] - 2s 4ms/step - loss: 0.6083 - accuracy: 0.7985 - val_loss: 0.3863 - val_accuracy: 0.8852
Epoch 32/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5883 - accuracy: 0.8090 - val_loss: 0.3831 - val_accuracy: 0.8845
Epoch 33/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5928 - accuracy: 0.8090 - val_loss: 0.3801 - val_accuracy: 0.8855
Epoch 34/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5831 - accuracy: 0.8083 - val_loss: 0.3695 - val_accuracy: 0.8928
Epoch 35/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5854 - accuracy: 0.8099 - val_loss: 0.3704 - val_accuracy: 0.8878
Epoch 36/50
500/500 [==============================] - 2s 3ms/step - loss: 0.5754 - accuracy: 0.8118 - val_loss: 0.3661 - val_accuracy: 0.8910
Epoch 37/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5822 - accuracy: 0.8094 - val_loss: 0.3649 - val_accuracy: 0.8932
Epoch 38/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5754 - accuracy: 0.8139 - val_loss: 0.3576 - val_accuracy: 0.8945
Epoch 39/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5712 - accuracy: 0.8141 - val_loss: 0.3599 - val_accuracy: 0.8903
Epoch 40/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5659 - accuracy: 0.8182 - val_loss: 0.3512 - val_accuracy: 0.8967
Epoch 41/50
500/500 [==============================] - 2s 5ms/step - loss: 0.5657 - accuracy: 0.8163 - val_loss: 0.3524 - val_accuracy: 0.8957
Epoch 42/50
500/500 [==============================] - 2s 3ms/step - loss: 0.5587 - accuracy: 0.8197 - val_loss: 0.3533 - val_accuracy: 0.8925
Epoch 43/50
500/500 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.8112 - val_loss: 0.3506 - val_accuracy: 0.8938
Epoch 44/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5594 - accuracy: 0.8159 - val_loss: 0.3489 - val_accuracy: 0.8955
Epoch 45/50
500/500 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.8183 - val_loss: 0.3436 - val_accuracy: 0.8950
Epoch 46/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5518 - accuracy: 0.8202 - val_loss: 0.3410 - val_accuracy: 0.8967
Epoch 47/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5447 - accuracy: 0.8192 - val_loss: 0.3430 - val_accuracy: 0.8985
Epoch 48/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5553 - accuracy: 0.8187 - val_loss: 0.3376 - val_accuracy: 0.9007
Epoch 49/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5398 - accuracy: 0.8245 - val_loss: 0.3358 - val_accuracy: 0.9003
Epoch 50/50
500/500 [==============================] - 2s 4ms/step - loss: 0.5351 - accuracy: 0.8264 - val_loss: 0.3306 - val_accuracy: 0.9047

In [80]:
score = model.evaluate(X_test, y_test)
print(f'Test loss: {score[0]}')
print(f'Test accuracy: {score[1]}')

125/125 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.9047
Test loss: 0.33056607842445374
Test accuracy: 0.9047499895095825

In [81]:
# print(confusion_matrix(Y_test, predictions))
y_pred = model.predict(X_test)
y_pred = np.argmax(y_pred, axis=1)
y_true = np.argmax(y_test, axis=1)
cm = confusion_matrix(y_true, y_pred)
print(cm)

125/125 [==============================] - 0s 2ms/step
[[131   0   2   0   0   0   0   0   0   1   1   1   1   0   0   1   0   0
    1   0   1   0   1   0   3   0]
 [  0 152   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0   0
    1   0   0   0   1   0   0   0]
 [  0   0 122   0   3   0   6   3   0   0   0   0   0   0   1   0   0   1
    0   0   1   0   0   0   0   0]
 [  1   0   0 139   0   1   0   1   0   0   0   0   1   1   1   1   0   1
    0   0   0   0   0   0   0   1]
 [  0   1   1   0 131   1   9   0   0   0   0   3   0   0   0   0   0   0
    0   1   0   0   0   1   0   2]
 [  0   1   0   0   2 146   3   0   1   1   0   0   0   1   0   5   0   0
    1   3   0   0   1   1   0   0]
 [  0   2   4   2   1   0 141   1   0   0   2   0   0   0   2   0   1   2
    1   0   0   2   0   0   0   0]
 [  0  10   1   6   1   0   1 114   0   1   2   0   1   1   0   1   1  13
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   1   1   0   0 131   2   0   0   0   0   0   2   0   0
    1   0   0   0   0   1   0   0]
 [  2   1   0   1   0   1   0   1   2 129   0   0   0   1   1   0   0   0
    2   0   0   0   0   0   0   0]
 [  0   1   1   2   1   0   0   1   0   0 116   0   2   1   0   0   0   5
    1   0   1   0   0   0   0   0]
 [  0   0   0   0   3   0   2   1   1   0   4 154   0   0   0   0   1   3
    1   0   0   0   0   0   0   0]
 [  0   1   0   0   0   0   0   0   0   0   0   0 149   1   1   0   0   0
    0   0   0   1   5   0   0   0]
 [  0   1   0   4   0   0   0   0   0   0   1   0   4 141   1   1   0   6
    0   0   1   1   2   0   1   0]
 [  3   0   0   2   0   0   0   0   0   0   0   0   3   1 139   0   2   0
    0   0   1   0   2   0   0   0]
 [  0   3   0   1   0   8   2   0   0   0   0   0   0   0   1 142   0   1
    0   0   0   0   0   0   1   0]
 [  1   1   0   1   0   0   0   1   0   0   0   1   0   0   2   0 148   0
    1   0   0   0   1   0   1   0]
 [  0   7   0   1   0   0   0   0   0   0   3   1   1   0   0   0   0 149
    0   0   0   0   1   0   0   0]
 [  0   5   0   0   3   0   1   0   0   0   0   1   0   0   0   0   2   0
  138   0   0   0   0   0   0   1]
 [  0   3   0   0   4   4   0   3   2   0   2   0   0   0   0   0   0   2
    1 127   1   0   0   2   1   3]
 [  0   2   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
    0   0 142   0   4   0   0   0]
 [  0   6   0   0   0   0   2   0   0   0   0   0   1   0   0   0   0   1
    0   0   1 142   5   0   1   0]
 [  0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
    0   0   3   1 165   0   0   0]
 [  0   0   0   0   1   1   0   0   0   0   5   1   0   0   0   0   0   0
    0   1   2   0   0 158   0   1]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
    1   2   1   0   1   0 140   0]
 [  0   0   0   0   4   0   0   0   0   5   0   0   0   0   0   0   1   0
    5   0   0   0   0   0   0 133]]

In [82]:
target_names = label_encoder.inverse_transform(np.arange(26))
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

           A       0.95      0.91      0.93       144
           B       0.77      0.97      0.86       156
           C       0.93      0.89      0.91       137
           D       0.87      0.94      0.90       148
           E       0.85      0.87      0.86       150
           F       0.89      0.88      0.88       166
           G       0.84      0.88      0.86       161
           H       0.90      0.75      0.82       153
           I       0.96      0.94      0.95       139
           J       0.93      0.91      0.92       141
           K       0.85      0.88      0.87       132
           L       0.95      0.91      0.93       170
           M       0.91      0.94      0.93       158
           N       0.95      0.86      0.90       164
           O       0.93      0.91      0.92       153
           P       0.92      0.89      0.91       159
           Q       0.95      0.94      0.94       158
           R       0.81      0.91      0.86       163
           S       0.89      0.91      0.90       151
           T       0.95      0.82      0.88       155
           U       0.92      0.95      0.93       149
           V       0.97      0.89      0.93       159
           W       0.87      0.97      0.92       170
           X       0.97      0.93      0.95       170
           Y       0.95      0.96      0.95       146
           Z       0.94      0.90      0.92       148

    accuracy                           0.90      4000
   macro avg       0.91      0.90      0.90      4000
weighted avg       0.91      0.90      0.90      4000

In [84]:
# create a new input with 16 feature values
new_input = [[4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10]]
# 4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
# standardize the input using the scaler object
new_input = scaler.transform(new_input)

# make a prediction
prediction = mlp.predict(new_input)

# print the predicted letter
print(prediction)

['B']